@media screen and (max-width: 8000px) {
  section {
    flex-direction: column;
    gap: 25px;
  }
  p {
    font-size: 30px;
  }
  h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 825px) {
  section {
    flex-direction: column;
    gap: 10px;
  }
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 25px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
p {
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke: 1px black;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1));
  transition: background-position 0.5s ease;
}

h1:hover,
p:hover {
  background-image: linear-gradient(to right, rgb(255, 78, 80, .5), rgb(249, 212, 35, .5));
  background-size: 200% 100%;
  background-position: 200% 0;
  -webkit-background-clip: text;
  background-clip: text;
  ;
}